# === CONFIGURACIÓN GENERAL ===
INSTALL_DIR="/opt/innovaC2"
REPO_URL="https://github.com/dotcsr/InnovaC2-Client.git"
PYTHON_BIN="python3"
CLIENT_SCRIPT="client.py"
UPDATER_SCRIPT="updater.py"
LOG_DIR="/var/log/mi_app"

# === SERVICIOS SYSTEMD ===
CLIENT_SERVICE="innovaC2_client.service"
UPDATER_SERVICE="innovaC2_updater.service"
UPDATER_TIMER="innovaC2_updater.timer"

# === CONFIGURACIÓN DEL CLIENTE ===
CLIENT_IP=192.168.1.1   # Ip del servidor
CLIENT_ID=Aula-4A   # Id único para el dispositivo
CLIENT_NAME="Aula 4°A"  # Nombre del cliente
CLIENT_PORT="9000"  # Opcional (9000 por defecto)
